*.gguf
*.faiss
*.jpg
**/__pycache__/

*.pdf

# IDE-specific
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Frontend/node (if applicable)
node_modules/
dist/

**/cache/
**/map_cache/

backend/mongodb_sample_images/
